apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: oai-kustomization
  namespace: {{ flux_namespace }}
spec:
  interval: 5m
  path: ./flux-gitops-repo
  prune: true
  sourceRef:
    kind: GitRepository
    name: git-repository
    namespace: {{ flux_namespace }}
  targetNamespace: {{ oai_namespace }}

