apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: get-deployment-yaml
  namespace: cicd
spec:
  workspaces:
  - name: workspace
  params:
    - name: manifest_file
      description: The file that contains yaml deploy manifests
      type: string
      default: "deployment.yaml"
    - name: namespace
      description: The application namespace
      type: string
      default: "oai-basic"
    - name: pipeline_token
      description: The user token to deploy OAI
      type: string
  steps:
    - name: get-deployment-yaml
      image: image-registry.openshift-image-registry.svc:5000/openshift/cli:latest
      workingDir: /workspace/workspace
      env:
        - name: PIPELINE_TOKEN
          valueFrom:
            secretKeyRef:
              name: $(inputs.params.pipeline_token)
              key: pipeline_token
      script: |
        #!/usr/bin/env bash
        set +x
        echo Get OAI deployments from $(inputs.params.namespace) namespace to $(inputs.params.manifest_file) file
        echo TOKEN: $PIPELINE_TOKEN
        oc get deployment -n $(inputs.params.namespace) -o yaml --token $PIPELINE_TOKEN > $(inputs.params.manifest_file)
        echo -----------------------------------
